.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1B2737;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-top: 65px;
  justify-content: center;
  font-size: 16px;
  color: black;
  border-color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header_full
{
  height:46px;
  width:100%;
  background-color: #151E29;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  position: fixed;
  top: 0;
  left:0;
}
  
.header_container
{
  height:46px;
  width:1190px;
  margin: auto;
  background-color: #151E29;
  text-align: center;
}

.header_left
{
  height:46px;
  width:409px;
  float:left;
  background-color: #151E29;
  color: rgb(29,161,242);
  font-size: 14px;
  font-weight: 400;
}


ul.navigation_left
{
  margin: 15px 30px 0 30px ;
}

li 
{
  display:inline;
  margin:9px;
}


.navigation_left li:hover
{
  color: #0084B4;
}

.twitter_logo
{
  margin-top: 6px;
  width: 33px;
  height: 33px;

}

.header_right
{
  height:46px;
  width:391px;
  float:right;
  background-color: #151E29;
}

.header_search
{
  height:33px;
  width:192px;
  background-color:white;    
  margin-top: 5px;
  border-radius: 21px;
  float: left;
}

.header_right input 
{
  background-color: white;
  color: #1B2737;
  font-size: 12px;
  border-color: transparent;
  padding: 2px 5px 5px 10px;
  border-radius: 21px;
  width: 150px;
  margin-top: 4.5px;
  margin-right: 10px;
}

input:focus
{
  outline:none;
}

#Submit
{
  background-color: transparent;
  border-color: transparent;
  color: white;
  width: 30px;
  height: 30px;
}
